<app-header></app-header>
<main class="autor_component-container">
  <div class="autor_recipes-component">
\
  </div>

  <div class="autor_recipes-component">
    <form>
      <label for="">
        <input placeholder="Wpisz nazwę produktu" type="text">
      </label>
      <label for="">
        <input placeholder="Wpisz opis produktu" type="text">
      </label>
      <label for="">
        <input placeholder="Podaj link do zdjęcia #edeee9" type="text">
      </label>
      <label for="">
        <input type="text">
      </label>
      <div class="ingredients_container">

      </div>
      <button class="autor_recipes-button"></button>
    </form>

  </div>

</main>
