<app-header></app-header>
<main class="autor_component-container">
  <div class="autor_recipes-component">
\
  </div>

  <div class="autor_recipes-component">
    <form class="autor_recipes-form" [formGroup]="form" (ngSubmit)="sendRecipe()">
      <label>
        <input formControlName="name" placeholder="Wpisz nazwę produktu" type="text">
      </label>
        <textarea formControlName="description" placeholder="Uzupełnij opis" name="" id="" cols="5" rows="5"></textarea>
      <label>
        <input formControlName="imgUrl" placeholder="Podaj link do zdjęcia" type="text">
      </label>
      <div formArrayName="ingriedients" class="ingredients_container">
          <label *ngFor="let ingredient of ingredientsFormArray.controls; let index=index">
            <input [formControlName]="index" placeholder="Wpisz nazwę składnika">
          </label>
      </div>
      <button [disabled]="!form.valid" class="autor_recipes-button">Wyślij</button>
    </form>

  </div>

  {{form.value | json}}
</main>
